.card{
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 53rem;

    &__side{
        
        font-size: 2rem;
        height: 53rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 9px;
         
        box-shadow: 0 1.5rem 4rem rgba($color-primary-black, .3);   

        &--front{
            background-color: $color-primary-white;


        }
        &--back{
            transform: rotateY(-180deg);

            &-1{
                background-blend-mode: color;
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark ),
            url(../assets/thales.jpg);
                background-size: cover;
                background-position: center;

            }
            &-2{
                background-blend-mode: color;
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark ),
            url(../assets/thales.jpg);
                background-size: cover;
                background-position: center;

            }
            &-3{
                background-blend-mode: color;
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark ),
            url(../assets/thales.jpg);
                background-size: cover;
                background-position: center;

            }


        }
         
    }

    
    &:hover &__side--front {
        transform: rotateY(180deg);
    }
    &:hover &__side--back {
        transform: rotateY(0 );
    }

    &__picture{
        background-size: cover;
        height: 23rem;
        background-blend-mode: color;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        

        &--1{
             background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark ),
            url(../assets/thales2.jpg);
        }
        &--2{
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark ),
            url(../assets/thales2.jpg);
        }
       &--3 {
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark ),
            url(../assets/thales2.jpg);
        }   
    }
    &__heading{
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        color: $color-primary-white;
        text-align: right; 
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 75%;

    }
    &__heading-span{
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        &--1{
            background-image: linear-gradient(to right bottom, rgba($color-primary-light, .85), rgba($color-primary-dark, .85 ))
        }
        &--2{
            background-image: linear-gradient(to right bottom, rgba($color-secondary-light, .85), rgba($color-secondary-dark, .85 ))
        }
        &--3{
            background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, .85), rgba($color-tertiary-dark, .85 ))
        }
    }
    &__details{

        padding: 3rem;

        ul{
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li{
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child){
                    border-bottom: 1px solid $color-grey-light-2;
                }
            }
        }
    }
    &__cta{
        color: $color-primary-white;
        font-size: 1.5rem;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-20%, -20%);
        width: 50%;

        &--1{
            background-image: linear-gradient(to right bottom, rgba($color-primary-light, .65), rgba($color-primary-dark, .65 ));

        }
        &--2{
            background-image: linear-gradient(to right bottom, rgba($color-secondary-light, .65), rgba($color-secondary-dark, .65 ));

        }
        &--3{
            background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, .65), rgba($color-tertiary-dark, .65 ));

        }
        

    }
    @include respond(tablet-portrait){
        height: auto;

        &__side{
            
            font-size: 2rem;
            height: auto;
            transition: all .8s ease;
            position: relative;
            border-radius: 9px;
            
            &--back{
                transform: rotateY(0);
            }
            
        }
        &:hover &__side--front {
            transform: rotateY(0);
        }

        &__cta{
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0);
            width: 100%;

           

    }

    }
 }
